.is-star canvas {
    display: block;
    background-color: black;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

input {
box-sizing: border-box;
margin: 0 0 20px 0;
padding: 20px;
width: 100%;
border: none;
color: #111;
background: #999;
font-family: Pixel,Arial,Helvetica,sans-serif;
font-size: 1rem;
outline: none;
}